<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Doğrulama</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Auth/VerifyCode.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="container">
        <h1>SMS Doğrulama</h1>

        <!-- Kalan süre alanı -->
        <div id="remainingTimeMessage" class="alert" role="alert">
            Kod süresi dolmadan doğrulama yapın. Kalan süre: <span id="remainingTime">02:00</span>
        </div>

        <!-- Doğrulama kodu alanı -->
        <div id="codeInputContainer">
            <input type="text" maxlength="1" class="code-input" id="code1" required>
            <input type="text" maxlength="1" class="code-input" id="code2" required>
            <input type="text" maxlength="1" class="code-input" id="code3" required>
            <input type="text" maxlength="1" class="code-input" id="code4" required>
            <input type="text" maxlength="1" class="code-input" id="code5" required>
            <input type="text" maxlength="1" class="code-input" id="code6" required>
        </div>

        <!-- Doğrulama butonu -->
        <button id="verifyButton" class="btn-primary">Doğrula</button>

        <!-- Sonuç mesajı -->
        <div id="resultMessage"></div>

        <!-- Yeniden gönder butonu -->
        <button id="resendButton" class="btn btn-secondary mt-3 w-100" disabled>Yeniden Kod Gönder</button>
    </div>

    <script src="~/js/Auth/VerifyForgotPassword.js"></script>
</body>
</html>
