@model OrderPayment.Models.Product
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Admin/styles.css">


<h2>Ürün Güncelle</h2>

<form asp-action="EditProduct" method="post">
    <input type="hidden" asp-for="Id" />

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <label for="name">Ürün Adı:</label>
    <input type="text" id="name" name="Name" asp-for="Name" required />

    <label for="stock">Stok Miktarı:</label>
    <input type="number" id="stock" name="Quantity" asp-for="Quantity" required />

    <label for="price">Fiyat (TL):</label>
    <input type="number" id="price" name="Price" asp-for="Price" step="0.01" required />

    <label for="category">Kategori:</label>
    <select id="category" asp-for="Category">
        <option value="SütÜrünleri">Süt Ürünleri</option>
        <option value="EtÜrünleri">Et Ürünleri</option>
        <option value="Meyveler">Meyveler</option>
        <option value="Sebzeler">Sebzeler</option>
    </select>

    <label for="imageUrl">Resim URL:</label>
    <input type="text" id="imageUrl" name="Image" asp-for="Image" placeholder="Resim URL'sini buraya girin" />

    <button type="submit">Güncelle</button>
</form>
