<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırla</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>

    <div class="container">
        <h1>Şifre Sıfırla !</h1>
        <form id="ResetPasswordForm" action="/User/ResetPassword" method="POST">
           
            <!-- Şifre Girişi -->
            <div class="input-group password-toggle">
                <label for="password">Şifre</label>
                <input type="password" id="password" name="password" placeholder="Şifreniz" required>
                <span class="toggle-btn" onclick="togglePassword()">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            <div class="input-group password-toggle">
                <label for="password">Şifre</label>
                <input type="password" id="password" name="password" placeholder="Şifreniz" required>
                <span class="toggle-btn" onclick="togglePassword()">
                    <i class="fas fa-eye"></i>
                </span>
            </div>

            
            <button type="submit">Şifreyi Sıfırla</button>
            <div id="error-message"></div>
        </form>

        <!-- Ek Bağlantılar -->
        
    </div>

    <script src="~/js/ResetPassword.js"> </script>

</body>
</html>
