@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- User Navbar -->
@await Html.PartialAsync("~/Views/Shared/UserNavbar.cshtml")



<!-- Ana sayfa içeriğiniz burada olacak -->
<div>
    <h1>Hoş Geldiniz!</h1>
    <p>Burada ana sayfa içeriği yer alacak.</p>
</div>
